 :root {
    --first-font: #FFFFFF;
    --h2-font: #2E2F42;
    --color-adress: #434455;
    
}

body {
font-family: 'Roboto', sans-serif;
color:#434455;
background-color: var(--first-font);
}

.link {
    text-decoration: none;
}
.diff {
line-height: 1.17;
color: var(--h2-font);
}

.contact {
    font-style: normal;
    color: var(--color-adress);
}
.header-logo  {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
       line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.header-menu-link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--h2-font);
}

.header-address-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-adress)
}


.list { 
    list-style: none;
}

.hero-title { 
    
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--first-font);
        background-color: #2E2F42;
}

.header-menu-link:hover,
.header-address-item:hover,
.header-address-link:hover
 {
    color:#404bbf;
}
    
.header-menu-link:focus,
.header-address-item:focus,
.header-address-link:focus
 {
color: #404bbf;
 }
 .header-menu-link:active,
 .header-address-item:active {
    text-decoration-line: underline;
 }
    
 
.hero { 
    background-color: var(--h2-font);
}


 .hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: var(--first-font);
    background-color: #4D5AE5;
 }
 

 .content-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--h2-font);
 }

 .content-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
       letter-spacing: 0.02em;
     color: #434455;
 }

 .doing {}

 .doing-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
 }

 .doing-menu {}

 .doing-items {}

 .doing-img {}
 
 .our-team {
    background-color: #F4F4FD;
 }

 .team-our {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
      
       
 }

 .team-menu {
    
 }

 .team-items {
    background-color: var(--first-font);
 }

 .team-img {}

 .team-name {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
 }

 .team-job {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
 }

 .button-group {}

 .button-menu {}

 .button-items {
     font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
color: #4D5AE5;
background-color:#F4F4FD;
}

 .button-portfolio {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
 }
 

 .menu {}

 .items {
    background: var(--first-font);
 }

 .img-menu {}

 .titl {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
 color: #2E2F42;
 }

 .text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }

         .footer {
            background: #2E2F42;
         }
    
         .footer-link {
            font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #4D5AE5;
         }

         .footer-link .foot {
                color: #F4F4FD;
         }
    
         .link {}
    
         .footer-describle {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #F4F4FD;
         }

         address.call {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;

         }
